* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
    display: inline-flex;
}
.nav li a{
    color: white;
    text-transform: uppercase;
    padding: 0 30px;
}
nav {
    background:linear-gradient(to left,rgb(255, 169, 8),rgb(3, 142, 255)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.f{
 position: relative;   
}
.futer1{
    text-align: center;
    color: black;
    background-image: url(../img/images\ \(7\).jfif);
}
.futer{
    text-align: center;
    color: black;
    background-image: url(../img/images\ \(7\).jfif);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bmeni{
    visibility: hidden;
}
.pocetak{
    position: relative;
    width: 100%;
}


@media(width<=425px)
{
    
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 16px;
    }
    .bmeni{
        visibility: visible;
        background-color: green;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 100%;
        text-align: center;
    }
    .db{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pocetak{
        position: relative;
        display: inline-block;
    }
    .nav{
        display: none;
        position: absolute;
        background-color: red;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .nav li a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 12px;
    }
    .nav li a:hover{
        background-color: white;
    }
    .pocetak:hover .nav{
        display: block;
    }
    .pocetak:hover .bmeni{
        background-color: green;
    }
    .pocetak:hover{
        margin-bottom: 32.5px;
    }
    
}