@import url(nav.css);
:root {
    --tamnoPlava: #1d527c;  
    --svetloPlava: #459ad3; 
    --orange: #fd7f45;
    --svetloSiva: lightgray;
    --bela: #fff;
    --transition: .3s ease;
}
.button1{
    padding: 15px 30px;
    border: 1px solid var(--tamnoPlava);
    background: var(--svetloPlava);
    font-size: 1rem;
    color: var(--orange);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 15px;
    margin-bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}
.button1:hover{
    cursor: pointer;
    background: var(--tamnoSiva);
    color: rgb(8, 6, 0);
    transition: var(--transition);
}

.div1{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    background-color: rgb(115, 246, 255);
    
}
h2{
    background-color: rgb(245, 255, 106);
    text-align: center;
}

.ddiv1{
    padding: 20px;
    background-color: rgb(115, 246, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-bottom: 5px;
}
.p1{
    margin-left: 15px;
    font-size: 18px;
}
.slika1{
    width: 800px;
    height: 420px;
    margin-bottom: 15px;
}

@media(width<1450px)
{
    .ddiv1{
        display: block;
        padding: 10px;
    }
    .slika1{
        width: 600px;
        height: 315px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }
    .button1{
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        margin-bottom: 30px;
    }
    .p1{
        font-size: 16px;
    }
}

@media(width<640px)
{
    .slika1{
        width: 300px;
        height: 155px;
    }
    .p1{
        font-size: 14px;
    }
}