@import url(nav.css);
:root {
    --tamnoPlava: #1f73ab;  
    --svetloPlava: #459ad3; 
    --orange: #d45c5b;
    --svetloSiva: lightgray;
    --bela: #fff;
}
body{
    background-color: var(--svetloPlava);
}
input[type=text],input[type=date],input[type=number],input[type=email]{
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
  }
label{
    width: 100%; 
    padding: 12px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 50px; 
}
.button1{
    padding: 15px 30px;
    border: 1px solid var(--tamnoPlava);
    background: var(--orange);
    font-size: 1.28rem;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.3s;
}
.button1:hover{
    cursor: pointer;
    background: white;
    color: var(--orange);
}

.drez{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    color: white;
    background-color: #d45c5b;
    padding: 6px 0;
    font-size: 24pt;
}
form{
    padding: 2vh;
    margin-top: 4vh;
    border-radius: 12px;
    background-color: var(--tamnoPlava);
    display: inline-block;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

label{
    color: white;
}