@import url(nav.css);
:root {
    --tamnoPlava: #1d527c;  
    --svetloPlava: #459ad3; 
    --orange: #fd7f45;
    --svetloSiva: lightgray;
    --bela: #fff;
}
body{
    background-color: aquamarine;
}
input[type=text],input[type=date],input[type=number],input[type=email]{
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
  }
label{
    width: 100%; 
    padding: 12px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 50px; 
}
.button1{
    padding: 15px 30px;
    border: 1px solid var(--tamnoPlava);
    background: var(--orange);
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button1:hover{
    cursor: pointer;
    background: white;
    color: var(--orange);
}

.drez{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    background-color: rgb(16, 163, 221);
    text-align: center;
    color: var(--orange);
}
form{
    background-color: rgb(16, 163, 221);
    display: inline-block;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}